@import "antd/dist/antd.css";

/* menu */

.logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.2);
}

.ant-menu {
  background: #001529;
  color: #fff;
}

.ant-menu-vertical {
  border: none;
}
